@model PRN232_FinalProject_Client.DTO.RegisterDto
<h2>Đăng ký</h2>
<form asp-action="Register" method="post">
    <div>
        <label>Tên đăng nhập</label>
        <input asp-for="Username" />
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label>Mật khẩu</label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <label>Nhập lại mật khẩu</label>
        <input asp-for="ConfirmPassword" type="password" />
    </div>
    <button type="submit">Đăng ký</button>
</form>
<a href="@Url.Action("Login", "Auth")">Đăng nhập</a> 