@using PRN232_FinalProject_Client.Models
@model EditTagViewModel

@{
    ViewData["Title"] = "Chỉnh Sửa Tag";
}

<h1>Chỉnh Sửa Nhãn</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTag" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TagId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
                <a asp-action="Tags" class="btn btn-secondary">Quay lại danh sách</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}