@using PRN232_FinalProject_Client.DTO
@model ForgotPasswordDto

<form asp-action="ForgotPassword" method="post">
    <label>Email:</label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <button type="submit" class="btn btn-primary">Nhận mật khẩu tại</button>
</form>
