@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
}

<h2>Đặt lại mật khẩu thành công</h2>
<p>Bạn có thể <a asp-controller="Auth2" asp-action="Login">đăng nhập</a> với mật khẩu mới của mình.</p>
